.navbar-item img {
    max-height: fit-content !important;
}

a.navbar-item,
.balance span,
.whats-new span,
.container-series p,
.social-container span {
    font-weight: 700 !important;
}

.main-section {
    background-image: url("../img/oasis.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    flex-wrap: wrap;
}

.navbar-brand {
    justify-content: space-between;
}

.navbar-menu {
    background-image: url("../img/navbar/navbar-menu.png");
    background-size: 100% 100%;
}

@media screen and (max-width: 1020px) {

    .navbar-menu {
        background-image: url("../img/navbar/mobile/navbar-menu.png");
        background-size: 100% 100%;
        padding: 6% !important;
        background-color: transparent;
    }

    .container-series p {
        font-size: 0.5em !important;
    }
}

.navbar-item,
body,
button {
    font-family: "Baloo-Regular", cursive !important;
}

.is-extra-bold {
    font-family: "Baloo-ExtraBold", cursive;
    color: #1D2B30 !important;
}

.is-medium-font {
    font-family: "Baloo-Medium", cursive;
    color: #1D2B30 !important;
}

.balance {
    background-image: url("../img/button/balance-container.png") !important;
    background-size: cover;
    border: none;
}

.balance span,
.whats-new span {
    padding: 39px;
}


.navbar-burger {
    margin-left: 0 !important;
    margin-right: auto;
}

.icon-nav {
    display: none !important;
}

@media only screen and (max-width: 769px) {
    a.navbar-item.pl-6.ml-6 {
        margin: 0px !important;
    }
}

@media screen and (max-width: 700px) {
    a.navbar-item:hover {
        background-color: auto !important;
    }

    a.navbar-item.text-items::before {
        top: 0.2em !important;
        position: relative;
    }

    .icon-nav {
        display: block !important;
        position: relative;
        top: -1.3em !important;
        left: -2em !important;
    }

    a.navbar-item.text-items {
        /* background: url("../img/button/home.png") no-repeat scroll 0 0 transparent; */
        background: url("../img/button/home.png") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        color: white !important;

        padding-left: 3em !important;
        height: 47px;
        /* text-align: center; */
        font-weight: bold;
        background-size: cover;
        /* width: 216px; */
        margin: 0.4em 0em;
        background-size: 100% 100% !important;
        background-color: transparent;
        border: none;
        font-size: 1em !important;
    }

    .home-btn {
        height: 48px !important;
    }

    div#navMenu {
        /* margin: 0% 13% 0% 13% !important; */
        margin: 0% 10% 0% 6% !important;
        right: 0;
        animation: dude .75s 1 forwards;
    }

    @keyframes dude {
        0% {
            right: 100%;
        }

        100% {
            right: 0;
        }
    }

    .no-padding-mobile {
        padding: 1em !important;

    }

    .info-left,
    .info-right {
        padding: 7%;
    }

    button.button.home-btn.play {
        width: 92% !important;
        margin: 12px !important;
        margin-bottom: 0px !important;
        height: 52px !important;
    }

    /* .navbar-burger.burger {
        background-image: url("../img/icon/hamburger.png") !important;
        background-size: 100% 100%;
        border: none;
        margin-top: 26px !important;
        margin-left: 0px!important;
        background-color: transparent;
    } */
    div#navMenu {
        background-color: none !important;
        padding: 8% !important;
    }

    .navbar-menu {
        background-color: transparent !important;
    }

    figure.image.is-64x64.logo {
        margin-top: 14px;
    }
}

@media screen and (min-width: 1200px) {
    a.navbar-item:hover {
        background: transparent !important;
    }

    .header-nav {
        height: 100px;
        padding: 20px 0;
    }



    .header-nav nav div.navbar a.navbar-item.text-items {
        position: relative;
        height: 2.3em;
        top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }

    a.navbar-item.text-items::after {
        content: attr(data-text);
        color: #73D82A;
        transition: transform 0.3s !important;
    }

    a.navbar-item.text-items::before {
        content: attr(data-text);
        transition: transform 0.3s !important;
    }

    a.navbar-item.text-items:hover::before {
        transform: translateY(-1.85em) !important;
    }

    a.navbar-item.text-items:hover::after {
        transform: translateY(-1.55em) !important;
    }
}

a.navbar-item.text-items::before {
    content: attr(data-text);
}