.partner-section {
    background-image: url("../img/bg/partners.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disclaimer-section {
    background-image: url("../img/bg/disclaimer.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disclaimer-card-header {
    background-image: url("../img/container/info-container.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding-left: 25px;
}

.disclaimer-box {
    background-image: url("../img/container/info.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    margin: 1em 0em
}

.disclaimer-title {
    font-size: 1em !important
}

button.slick-next.slick-arrow:before {
    content: '' !important;
    background-image: url("../img/icon/arrow-right.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0em 6em 4.6em 0em;
    right: -5.1em;
    position: absolute;
    top: -1.7em !important;
}

button.slick-prev.slick-arrow.slick-disabled:before,
button.slick-prev.slick-arrow:before {
    content: '' !important;
    background-image: url("../img/icon/arrow-left.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0em 6em 4.6em 0em;
    margin-left: -5.5em;
    position: absolute;
    top: -1.7em !important;

}