.partner-section {
    background-image: url("../img/bg/partners.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.disclaimer-section {
    background-image: url("../img/bg/disclaimer.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.disclaimer-card-header {
    background-image: url("../img/container/info-container.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding-left: 25px;
}
.disclaimer-box {
    background-image: url("../img/container/info.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    margin: 1em 0em
}
.disclaimer-title {
    font-size:1em !important
}