/* ul#botoes li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
} */
.columns.is-mobile.is-centered.is-vcentered.roadmaps-sections {
    height: 5em;
}
span.subtitle.li {
    font-weight: bold;
    color: black;
}
.card.is-transparent {
    box-shadow: none !important;
}
ul#botoes {
    padding-bottom: 4em;
}
ul#botoes {
    display:table;
    list-style-type:none;
 }
 
 ul#botoes div>li {
    float: left;
    /* text-align: center; */
 }
 
 ul#botoes div>li:nth-of-type(4n + 1) {
    clear:left;
 }

.box.listing-roadmaps {
    background-image: url("../img/roadmaps/roadmapList.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% 100%;

}
section#roadmaps {
    background: #0099DB !important;
}
span.title.tokenomiks-title.is-medium-font {
    font-size: 1em !important;
}
.button {
    border: none !important;
}

.roadmaps-btn {
    background: url("../img/roadmaps/buttonDefault.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    font-weight: bold;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-top: -3em;
    text-align: left !important;
    left: -2em;
    height: 3.7em;
    width: 50em;
    padding: 0em;
    font-size: 1em !important;
}
.image-left-container {
    background-image: url("../img/roadmaps/leftBackground.png");
    background-color: transparent;
    background-repeat: no-repeat;
    /* background-size: 100% 92%; */

    /* background-size: 100% 96%; */
    background-size: 100% 100%;
}

.box.roadmapsQ {
    background-image: url("../img/roadmaps/leftBackground.png");
    background-color: transparent;
    background-size: 100% 100%;
  }
.box.roadmapsQ-Right {
    background-image: url("../img/roadmaps/roadmapList.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
}
.roadmap-leftQ {
    padding: 5em 0em 0em 3em !important
}

.image-right-container {
    background-image: url("../img/roadmaps/roadmapList.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 92%;
}
.info-left.column.is-12.is-4-desktop.container.main.p-0.m-0.image-left-container.roadmap-leftQ {
    padding: 5em 3em 0em 3em !important;
}

.roadmaps-container {
    padding: 5% 5% 0% 9%;
    justify-content: center;
}

.roadmaps-title {
    font-size: 1.2em;
    position: absolute;
}

@media screen and (max-width: 700px) {
    span.subtitle.li {
        display: inline-block;
    }
    .columns.is-mobile.is-centered.is-vcentered.roadmaps-sections {
        height: 3.5em;
        width: 188px;
    }
    span.subtitle.li {
        /* padding-left: 15px; */
        padding-top: 24px;
        padding-left: 27px;
        font-size: 0.5em !important;

    }
    ul#botoes {
        padding-bottom: 0em;
    }
    .column.ml-1 {
        /* width: 7em !important; */
        padding: 2px !important;
    }
    .roadmap-image-sction {
        padding: 0em 0em 1em !important;
    }
    .roadmaps-right {
        margin: 0.8em !important;
    }
    .roadmaps-container {
        padding: 0px !important;
    }
    .roadmaps-title {
        margin-top: 0px !important;
    }
    .image-left-container {
        background: none !important;
    }
}

.coming-soon, .coming-soon-page {
    margin: 2em;
    height: 75%;
    padding: 9.7em;
}

.coming-soon {
    display: none;
}
