.team-section {
    background-image: url("../img/bg/teams-bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subs-team {
    padding: 0em 2em 0em 2em !important;
}

.teamview {
    padding: 0em 3em 0em 3em !important;
}

.team-default {
    background: url("../img/teams/btn-default.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    background-color: transparent !important;
    font-weight: bold;
    background-size: 100% 100%;
    padding: 2em;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1em !important;
}

.team-s div.slick-slider.slick-initialized {
    padding: 0em 2em 0em 1em;
}

.team-s .slick-slide.slick-active {
    padding: 0em 1em 0em 0em;
}

.team-s .vueperslides--fixed-height.vueperslides--bullets-outside {
    margin-bottom: 0px !important;
}

.team-s .slick-slide.slick-active.slick-current {
    padding: 0em 1em 0em 0em;
}

.team-s button.vueperslides__arrow.vueperslides__arrow--prev {
    background-image: url("../img/icon/arrow-left.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0em 5em 4em 0em;
    margin-left: -2.5em;
}

.slider-nav .slick-next:before {
    content: '' !important;
    background-image: url("../img/icon/arrow-right.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    /* padding: 0em 1em 4em 4em;
    right: -3.5em;
    top: -1.4em;
    position: absolute; */
    padding: 0em 6em 4.6em 0em;
    right: -5.1em;
    position: absolute;
    top: -1.7em !important;
}

.slider-nav .slick-prev:before {
    content: '' !important;
    background-image: url("../img/icon/arrow-left.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0em 6em 4.6em 0em;
    margin-left: -5.5em;
    position: absolute;
    top: -1.7em !important;

}

.team-s button.vueperslides__arrow.vueperslides__arrow--next {
    background-image: url("../img/icon/arrow-right.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
    padding: 0em 1em 4em 4em;
    margin-right: -2.5em;
}

.team-s .slick-list {
    padding: 0em 1em 0em 1em !important;
}

.team-s .slick-next:before {
    position: absolute;
    background: transparent;
    height: 31px;
    width: 43px;
    top: 1.6em;
    right: -6em !important;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.team-info-char .slick-list {
    width: 94% !important;
    overflow: inherit !important;
}
.team-info-char div.slick-slide {
    margin: 8px !important;
    width: 206px !important;
}
.team-info-char div.slick-track {
    display: flex;
    justify-content: center;
    width: 100% !important;
}
.slick-list {
    width: 95%;
    margin: 0 auto;
}

img.slick-next.slick-arrow {
    width: auto !important;
    top: 66% !important;
    height: auto !important;
}

img.slick-prev.slick-arrow {
    width: auto !important;
    top: 66% !important;
    height: auto !important;
}

img.slick-prev.slick-arrow {
    transform: translate(-47%, -50%) !important;
}

img.slick-next.slick-arrow {
    transform: translate(49%, -50%) !important;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.team-left-container {
    background-image: url("../img/teams/team-container.png");
    background-color: transparent;
    background-size: 100% 100%;
    padding: 2.5em 1.5em 3em;
    margin: 1em 0em 0em 1em;
}

.team-title {
    font-size: 1.7em;
}

.subs {
    font-size: 0.6em !important;
    text-align: center !important;
    color: #52342D !important;
    font-weight: bolder;
}

.m-5.item {
    padding: 0px !important;
    margin-left: 0px !important;
}

.has-padding {
    padding: 4em;
}

.vueperslide__content-wrapper div button {
    padding: 2em !important;
}

.has-padding-team {
    padding: 0em 0em 0em 0em;
}

  @media only screen and (min-width: 390px) and (max-width: 884px){
    .slick-list.draggable {
        margin-left: 1em !important;
    }
    }  

@media screen and (max-width: 700px) {

    div#slick1 .slick-slide {
        width: 338px;
        position: relative;
        left: -13px;
        top: 0px;
        z-index: 999;
        opacity: 1;
    }


    .team-info-char div.slick-slide {
        margin: auto !important;
    }
    .team-title {
        font-size: 1em !important;
    }
    /* .team-left-container {
        width: auto !important;
    } */
    .team-left-container {
        width: 9em !important;
        margin: 0.4em;
    }
    /* .slick-list.draggable {
        margin-left: 0.6em !important;
    } */
    .team-title-header {
        padding: 2em 6em 0em 6em !important;
    }
    div#slick1 div.slick-track,div#slick2 div.slick-track, div#slickCouncel div.slick-track {
        display: block !important;
        /* margin: 0px 45px !important; */
    }
    .team-info-char div.slick-slide {
        display: flex !important;
        width: 206px !important;
    }
    /* .team-info-char div.slick-slide {
        margin: 0px 45px !important;
        width: 248px !important;
    }
    .team-info-char div.slick-track {
        width: auto !important;
    } */
    .teamview {
        padding: 0px !important;
    }
    .has-padding {
        padding: 1em !important;
    }

    .slick-slider.slick-initialized {
        padding: 0% !important;
    }

    .team-s .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        height: auto !important;
    }

    .team-s .vueperslides__arrows.vueperslides__arrows--outside {
        display: none;
    }
}