section#tekonomiks {
    background: #0099DB !important;
}
span.subtitle.is-size-6.has-text-black {
    font-size: 0.7rem;
}
.info-right.column.is-12.is-6-desktop.tokenomics-right {
    display: flex;
    align-items: center;
}

.tokenomics-header {
    width: 71% !important;
}

.tokenomiks-title {
    font-size: 0.8em;
}

.has-padding-tokenomics {
    padding: 3em 0em 0em 0em;
}

.tokenomics-data {
    /* padding: 3em 5em 3em 5em !important */
    padding: 1em 3em 1em 3em !important;
}

.token-desc {
    font-size: 0.88em !important;
}

.tokenomiks-title {
    font-size: 0.96em;
}

.tokenomics-right {
    padding: 0em 0em 0em 4em;
}


.tekonomics-container {
    padding: 1em;
    background-image: url("../img/container/choseUs/image-choose.png") !important;
    background-color: transparent;
    background-size: 100% 100%;
}

@media screen and (max-width: 700px) {
    figure.image.is-96x96 {
        padding: 1.2em !important;
    }
    .info-right.column.is-12.is-7-desktop.tokenomics-right {
        padding: 0.3em !important;
    }

    .image-section-token {
        padding-top: 15em !important;
    }

    .image-section-token {
        padding: 6em 0em 6em 0em;
    }

    .no-padding-mobile.tokenomics-data {
        padding: 2em !important;
    }

    .tokenomics-header {
        width: 100% !important;
    }

    .tokenomics-header {
        padding: 0.4em;
    }

    .tokenomics-right {
        padding: 1em;
    }

    .container-token {
        padding: 0em !important;
    }

    .image-section-token {
        margin: auto !important;
    }
}


@media screen and (min-width: 1400px) {
    figure.image.is-64x64.tokenomiks-icon img {
        image-rendering: -webkit-optimize-contrast;
    }
    span.title.tokenomiks-title.is-medium-font {
        font-size: 1.5em !important;
    }
    figure.image.is-64x64.tokenomiks-icon {
        height: 128px;
        width: 128px;
    }
}